* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --- Header ---- */

.header {
    background-color: rgb(179, 188, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar {
    background-color: rgb(179, 188, 244);

}

.barra_busqueda {
    margin-left: 50px;
}

.navbar__list {
    text-align: center;
    display: flex;
    gap: 20px;
    width: fit-content;
    height: fit-content;

}

.login_icon {
    max-width: 25px;
    margin: 15px;

}

.candente_titulo {
    background-image: url(../img/fondofuego.jpg);
    background-position: center;
    background-size: contain;
    height: 20vh;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}



.product-filter {
    display: flex;
    padding: 30px 0;
}

.sort {
    display: flex;
    align-self: flex-end;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

.collection-sort:first-child {
    padding-right: 20px;
}

label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product_card {
    display: flex;
    flex-direction: column;

    padding: 2%;
    flex: 1 16%;

    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product_image img {
    width: 100%;
}

.product_info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media (max-width: 920px) {

    .product_card {
        flex: 1 21%;
    }

    .products .product_card:first-child,
    .products .product_card:nth-child(2) {
        flex: 2 46%;
    }

}

@media (max-width: 600px) {

    .product_card {
        flex: 1 46%;
    }

}

@media (max-width: 480px) {

    h1 {
        margin-bottom: 20px;
    }

    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }

}

button {
    margin: 5px;
}

footer {
    font-size: small;
    background-color: purple;
    border: 2px solid black;
    width: auto;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.article_mas_vendidos {
    background-color: rgba(32, 224, 163, 0.726);
    border: 2px solid black;
    flex-direction: row;
    width: auto;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.iconos_rs {
    align-self: flex-end;
    max-width: 25px;


}

.reseñas_titulo {
    background-image: url(../img/slider2.jpg);
    background-position: center;
    background-size: contain;
    height: 20vh;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(197, 202, 225);
}

p {
    text-align: justify;
}

.producto_titulo {
    text-decoration: underline;
}

.sobre_nosotros_titulo {
    text-decoration: underline;
}

.carrito-titulo {
    text-decoration: underline;
}

.header_titulo {
    max-width: 22px;
    margin: 10px;
}

.slider_publicitario {
    max-width: 100%;
}

.slide {
    background-color: rgb(29, 141, 253);

}