$color-rojo: red;
$color-fondosuave: rgb(179, 188, 244);
$color-fondobtn: #3e8e41;
$sombra: 0 5px #666;
$borde-colornegro: 3px solid #000;
$radio: 15px;
$color-negro: black;
$borde-lista: 3px solid #000;
$slider-color: rgb(29, 141, 253);
$margen-boton: 5px;