.candente_titulo {
    background-image: url(../img/fondofuego.jpg);
    background-position: center;
    background-size: contain;
    height: 20vh;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color:$color-rojo;
}
.ofertaroja {
    color:$color-rojo;
    font-weight: bold;
    font-size: large;
}
.article_mas_vendidos {
    background-color: rgba(32, 224, 163, 0.726);
    border: 2px solid black;
    flex-direction: row;
    width: auto;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;

}
.toplista{border:$borde-lista;

}
