.sobre_nosotros_titulo {
    text-decoration: underline;
    background-image: url(../img/bg-imagesn.jpg);
    background-position: center;
    background-size: contain;
    height: 20vh;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(197, 202, 225);
}