.navbar {
    background-color: $color-fondosuave;
    
    .barra_busqueda {
        margin-left: 50px;

        .navbar__list {
            text-align: center;
            display: flex;
            gap: 20px;
            width: fit-content;
            height: fit-content;

            
        
        }
    }

}
.login_icon {
    max-width: 25px;
    margin: 15px;

}